.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000;
  cursor: pointer;
  user-select: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.accordion-toggle-button {
  background: none;
  border: none;
}

.accordion-content {
  padding: 10px;
}
